/* Header styles */
.header {
  background-color: #1f2937;
  padding: 2rem;
  text-align: center;
  color: white;
}
.headerTitle {
  font-size: 2rem;
  font-weight: bold; 
  color: white;
}
.headerTitle span {
  color: #F14D5D; 
  
}

/* Intro Section */
.introContainer {
  /* text-align: center;
  margin: 1rem auto;
  color: black; */ 
  text-align: center;
  margin: 2rem 0;
}  

.introContainer i {
  font-size: 2rem;
  color: #F14D5D;
} 

.introContainer h2 {
  font-size: 1.75rem;
  margin: 0.5rem 0;
}
.introContainer p {
  color: #4b5563;
}

/* FAQ Section */
/* .faqSection {
  margin: 2rem auto;
  max-width: 800px;
} */ 
.faqSection {
  margin: 2rem auto;
  max-width: 800px;
}

.categoryTitle {
  font-size: 1.5rem;
  background-color: #1f2932;
  color: white;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.categoryContainer {
  /* background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 5px; */ 
  border-top: 1px solid #e5e7eb;
}
.questionContainer {
  /* padding: 1rem;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center; */ 
  border-bottom: 1px solid #e5e7eb;
} 

.questionHeader {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  cursor: pointer;
  background-color: #f9fafb;
  color: #1f2937;
  transition: background-color 0.3s ease;
}

.questionHeader:hover {
  background-color: #f3f4f6;
}

.questionText {
  font-size: 1rem;
  cursor: pointer;
  color: black;
}
/* .icon {
  font-size: 1.2rem;
  color: #1f2932;
} */ 
.icon {
  font-size: 1.5rem;
  font-weight: bold;
}
/* .answerContainer {
  padding: 0.5rem 1rem;
  background-color: #e7f1f8;
  border-left: 3px solid #1f2932;
  color: #333;
} */ 
.answerContainer {
  padding: 1rem;
  background-color: #F14D5D;
  color: #fff;
}
